@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto:wght@300&display=swap');

body {
    all:revert;
	background: linear-gradient(-45deg, #ee7752, #e73c3c, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;  
    overflow: hidden;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.content {
    width: 100vw;
    height: 15vh;
    padding-top:160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.slider-wrapper {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider{
    height: 50px;
    padding-left:15px;
  }
  .slider-text1 {
    animation: slide 5s linear infinite;
    background: black;
    font-size: 30px;
  }
  .slider-text2 {
    background: black;
    font-size: 30px;
  }
  .slider-text3 {
    background: black;
    font-size: 30px;
  }
  .slider-text4 {
    background: black;
    font-size: 30px;
  }

  .slider div {
    font-family: 'Roboto', sans-serif;
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
  }

  .slider{
    height: 50px;
    padding-left:15px;
    overflow: hidden;   
  }
  @keyframes slide {
    0% {margin-top:-400px;}
    5% {margin-top:-300px;}
    20% {margin-top:-300px;}
    25% {margin-top:-200px;}
    45% {margin-top:-200px;}
    50% {margin-top:-100px;}
    70% {margin-top:-100px;}
    75% {margin-top:0px;}
    95% {margin-top:0px;}
    100% {margin-top:100px;}
  }
.Introduction{
    display: flex;
    width: 100vw;
    height: 15vh;
    padding: none;
    margin: auto;
}
.Introduction .Name{
    color: black;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-size: 50px;
    font-weight: bold;
}
.Socials{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Socials .Images{
    display: flex;
}
.Socials .Images img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.Socials .Images li{
    display: block;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
}
